/* Navbar icon */

.nav-icon {
    display: block;
    font-size: 22px;
    left: 20px;
    padding: 15px 0 0 22px;
    z-index: 101;
    float: left;
    width: 48px;
    height: 52px;
    position: fixed;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #1D7DD1;
}

.nav-icon span {
    border-radius: 2px;
    background: #fff;
    display: block;
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
}

.nav-icon span {
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

.nav-icon span:before,
.nav-icon span:after {
    height: 26px;
    width: 0.3em;
    border-radius: 2px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-transform: translate3d(0, 0, 0);
}

.nav-icon span {
    margin-left: 0;
    width: 26px;
    height: 0.2em;
    margin-left: -0.5em;
    margin-top: 0.5em;
}

.nav-icon span:before,
.nav-icon span:after {
    background: #fff;
    content: " ";
    position: absolute;
    margin-top: -0.5em;
}

.nav-icon span:after {
    background: #fff;
    margin-left: 0.9em;
}

.nav-icon.hover {}

.nav-icon.hover span,
.nav-icon.hover span:before,
.nav-icon.hover span:after {
    width: 26px;
    height: .2em;
}

.nav-icon.hover span:before,
.nav-icon.hover span:after {
    background: #fff;
    content: " ";
    margin-top: -.5em;
    margin-left: 0;
    position: absolute;
}

.nav-icon.hover span:after {
    margin-top: .5em;
    margin-left: 0;
}

.nav-icon.on span {
    background: transparent;
}

.nav-icon.on span:before {
    -moz-transform: rotate(45deg) translate(.35em, .3em);
    -ms-transform: rotate(45deg) translate(.35em, .3em);
    -o-transform: rotate(45deg) translate(.35em, .3em);
    -webkit-transform: rotate(45deg) translate(.35em, .3em);
    transform: rotate(45deg) translate(.35em, .3em);
}

.nav-icon.on span:after {
    -moz-transform: rotate(-45deg) translate(.45em, -.35em);
    -ms-transform: rotate(-45deg) translate(.45em, -.35em);
    -o-transform: rotate(-45deg) translate(.45em, -.35em);
    -webkit-transform: rotate(-45deg) translate(.45em, -.35em);
    transform: rotate(-45deg) translate(.45em, -.35em);
}


/* Navbar */

.nav {
    position: fixed;
    padding: 55px 30px 10px 0;
    left: -10px;
    background: #fff;
    z-index: 100;
    border-bottom-right-radius: 12px;
}

.nav-bg {
    position: fixed;
    display: none;
    background: #000;
    opacity: 0.1;
    z-index: 99;
    height: 100%;
    width: 100%;
}

.nav ul li {
    font-size: 24px;
    list-style-type: none;
    padding: 5px;
}

.nav ul li a,
.nav ul li a:link,
.nav ul li a:visited,
.nav ul li a:active {
    color: #fff;
    text-decoration: none;
}

.nav ul li a:hover,
.nav ul li a:active,
.nav ul li a.active {
    padding-left: 10px;
    border-left: thick solid #fff;
}

.nav ul li a.active {
    color: #fff;
}

.nav-effect {
    background: #1D7DD1;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
}

.nav-effect.open {
    visibility: visible;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}
