html,
body {
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue";
    background-color: #fbfbfb;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: fixed;
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}


/* Header */

.content {
    width: 100%;
    height: 100%;
    display: table;
    position: absolute;
}

.content .text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.content .text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}


/* Anchor Styles */

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}


/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}

.btn-blue {
    border-radius: 3;
    color: #000;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
    color: #fff;
    background-color: #1D7DD1;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 1px 0px 0 rgba(0, 0, 0, .5);
    -o-box-shadow: 1px 0px 2px rgba(0, 0, 0, .5);
    box-shadow: 1px 0px 2px rgba(0, 0, 0, .5);
}


/* Footer */

footer {
    right: 0;
    bottom: 0;
    width: 100%;
    padding-right: 10px;
    position: absolute;
}

footer p {
    font-size: 28px;
}

footer a,
footer a:link,
footer a:visited,
footer a:active {
    color: #aaa;
    text-decoration: none;
}

footer .fa {
    font-size: 22px;
    padding: 0 24px 24px 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

footer .fa:before {
    position: absolute;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

footer .fa:hover:before,
footer .fa:focus:before,
footer .fa:active:before {
    color: #1D7DD1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
