<header>
    <div class="nav-icon"><span></span></div>
    <div class="nav-bg"></div>
    <div class="nav nav-effect">
        <nav>
            {% assign pages = site.pages | sort:"order" %}
            <ul>
                {% for my_page in pages %} {% unless my_page.exclude %} {% if my_page.url == page.url %}
                <li class="active" title="{{ my_page.title }}"><a href="{{ my_page.url | prepend: site.baseurl }}"><i class="fa {{ my_page.icon }}"></i>&nbsp;{% if my_page.icon == null %}{{ my_page.title }}{% endif %}</a></li>
                {% else %}
                <li title="{{ my_page.title }}"><a href="{{ my_page.url | prepend: site.baseurl }}"><i class="fa {{ my_page.icon }}"></i>&nbsp;{% if my_page.icon == null %}{{ my_page.title }}{% endif %}</a></li>{% endif %} {% endunless %} {% endfor %}
            </ul>
        </nav>
    </div>
</header>
